body {
    font-family: "Jost", sans-serif;
    background-color: #fff;
}


.nav-item .nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.nav-item .nav-link:hover {
    color: #7F64DC;
}

.main-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #7153d9;
    line-height: 1.9;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.main-title {
    font-size: 72px;
    font-weight: 500;
    list-style: 1.16;
}

.main-p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}

.main-btn {
    text-decoration: None;
    width: 90px;
    height: 90px;
    padding: 17px 40px;
    border-radius: 27px;
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    color: #fff;
    font-size: 16px;
}

.main-btn:hover {
    background: linear-gradient(225deg, #4526b1 0%, #5435be 45%, #7153d9 66%) !important;
}

.icon-img {
    height: 98px;
    max-width: 98px;
    width: 100%;
    background-color: #f2f5fb;
    border-radius: 50%;
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    /* margin-left: 15px; */
}


.navbar-background {
    background: #E9EDF4 !important;
    transition: 1s ease-in;
  }
  
.navbar-background.scrolled {
    background: #fff !important;
}

.banner-background {
    background: #E9EDF4 !important;
    transition: 1s ease-in;
}

.li1::marker {
    color: #7152D9;
    font-size: 22px;
    line-height: 1.66; /* Match this to the li line-height */
}

.li1 {
    font-size: 18px;
    line-height: 1.66;
    color: #54545f;
    margin-bottom: 20px;
}

.stats-section {
    background-color: #4526B1;
    color: white;
    padding: 90px 0;
}
.stats-section h2 {
font-size: 3rem;
margin-bottom: 0;
}
.stats-section p {
font-size: 1.2rem;
}

.sec4 {
    padding: 0px 24%;
}

.readmore-button {
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.list-unstyled li {
    list-style: none;
}

.myshadow {
    box-shadow: #E2C4FF 0px 5px 5px;
    /* box-shadow: 1px 5px 5px 5px #7152D9; */
}
